autopep8==2.3.1
beautifulsoup4==4.12.3
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.0
detect-secrets==1.5.0
distlib==0.3.9
exceptiongroup==1.2.2
filelock==3.16.1
flake8==7.1.1
identify==2.6.3
idna==3.10
iniconfig==2.0.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
multidict==6.1.0
mypy==1.13.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==4.0.1
propcache==0.2.1
pycodestyle==2.12.1
pyflakes==3.2.0
pygments==2.18.0
pyjwt==2.10.1
pytest==8.3.4
pytest-splunk-soar-connectors @ git+https://github.com/splunk/pytest-splunk-soar-connectors.git
pyyaml==6.0.2
requests==2.32.4
rich==13.9.4
soupsieve==2.6
tomli==2.2.1
types-beautifulsoup4==4.12.0.20241020
types-html5lib==1.1.11.20241018
types-requests==2.31.0.2
types-urllib3==1.26.25.14
typing-extensions==4.12.2
urllib3==1.26.19
vcr-cleaner @ git+https://github.com/techservicesillinois/vcrpy-cleaner.git
vcrpy==6.0.2
virtualenv==20.28.0
wheel==0.45.1
wrapt==1.17.0
yarl==1.18.3
