attrs==22.1.0
beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
commonmark==0.9.1
exceptiongroup==1.0.0
idna==3.4
iniconfig==1.1.1
multidict==6.0.2
packaging==21.3
pluggy==1.0.0
Pygments==2.13.0
PyJWT==2.6.0
pyparsing==3.0.9
pytest==7.2.0
git+ssh://git@github.com/splunk/pytest-splunk-soar-connectors.git@424aa098ce7bda5c16bf2c90555ef1f504b88b1f
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.1
rich==12.6.0
six==1.16.0
soupsieve==2.3.2.post1
TDXLib @ git+ssh://git@github.com/cedarville-university/tdxlib.git@fca13f636a0cb65a76a865963717f6566d39f606
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.12
vcrpy==4.2.1
wrapt==1.14.1
yarl==1.8.1
