interactions:
- request:
    body: '{"username": "FAKE_USERNAME", "password": "FAKE_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://help.uillinois.edu/SBTDWebApi/api/auth
  response:
    body:
      string: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI1MDgxOTIwMDB9.RbB4nHgmsME4ZFjdRi1pjeEtx_FL1yiNEoFA6ug9eb0 #pragma: allowlist secret
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '53'
      X-RateLimit-Reset:
      - Mon, 13 Jul 2026 16:31:17 GMT
      X-TDX-Partition:
      - '26'
      X-TDX-TraceID:
      - '14132882375017251503'
    status:
      code: 200
      message: OK
- request:
    body: '{"SearchText": "Resolved"}'
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://help.uillinois.edu/SBTDWebApi/api/66/tickets/statuses/search
  response:
    body:
      string: '[{"ID":360,"AppID":66,"AppName":"UIUC - Tech Services Privacy and Cybersecurity","Name":"Resolved","Description":"","Order":4.0,"StatusClass":3,"IsActive":true,"RequireGoesOffHold":false,"DoNotReopen":false,"IsDefault":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '59'
      X-RateLimit-Reset:
      - Mon, 13 Jul 2026 16:31:45 GMT
      X-TDX-Entity:
      - '2'
      X-TDX-EntityName:
      - University of Illinois System
      X-TDX-Partition:
      - '26'
      X-TDX-TraceID:
      - '13303639981710713828'
      X-TDX-UID:
      - 3c3caa7d-c365-ed11-ade6-0050f2e6378b
    status:
      code: 200
      message: OK
- request:
    body: '{"Comments": "This is a test comment.", "Notify": [], "IsPrivate": "False",
      "NewStatusID": 360}'
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://help.uillinois.edu/SBTDWebApi/api/66/tickets/2262430/feed
  response:
    body:
      string: '{"ID":34838455,"CreatedUid":"3c3caa7d-c365-ed11-ade6-0050f2e6378b","CreatedRefID":355130,"CreatedFullName":"Tech
        Services Security API","CreatedFirstName":"Tech Services","CreatedLastName":"Security
        API","CreatedByPicPath":null,"CreatedDate":"2026-07-13T16:30:46.263Z","LastUpdatedDate":"2026-07-13T16:30:46.263Z","ProjectID":0,"ProjectName":null,"PlanID":0,"PlanName":null,"ItemType":9,"ItemID":2262430,"ItemTitle":"NewBoo","ReferenceID":null,"Body":"Changed
        Status from \"<b>New</b>\" to \"<b>Resolved</b>\".<br><br>This is a test comment.","IsRichHtml":false,"UpdateType":2,"NotifiedList":null,"IsPrivate":false,"IsParent":false,"Replies":[],"RepliesCount":0,"Likes":[],"ILike":false,"LikesCount":0,"IsCommunication":true,"Participants":[{"FullName":"Tech
        Services Security API","Email":"noreply@illinois.edu"}],"BreadcrumbsHtml":null,"HasAttachment":false,"Uri":"api/feed/34838455"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '59'
      X-RateLimit-Reset:
      - Mon, 13 Jul 2026 16:31:46 GMT
      X-TDX-Entity:
      - '2'
      X-TDX-EntityName:
      - University of Illinois System
      X-TDX-Partition:
      - '26'
      X-TDX-TraceID:
      - '126073550243401948'
      X-TDX-UID:
      - 3c3caa7d-c365-ed11-ade6-0050f2e6378b
    status:
      code: 201
      message: Created
version: 1
