interactions:
- request:
    body: '{"username": "FAKE_USERNAME", "password": "FAKE_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://help.uillinois.edu/SBTDWebApi/api/auth
  response:
    body:
      string: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI1MDgxOTIwMDB9.RbB4nHgmsME4ZFjdRi1pjeEtx_FL1yiNEoFA6ug9eb0 #pragma: allowlist secret
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '54'
      X-RateLimit-Reset:
      - Mon, 13 Jul 2026 16:31:17 GMT
      X-TDX-Partition:
      - '26'
      X-TDX-TraceID:
      - '8904668103267592287'
    status:
      code: 200
      message: OK
- request:
    body: '{"search": {"SearchText": "None/Not found", "IsActive": true, "MaxResults":
      5}}'
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://help.uillinois.edu/SBTDWebApi/api/accounts/search
  response:
    body:
      string: '[{"ID": 7902, "Name": "None/Not Found", "ParentID": null, "ParentName":
        null, "IsActive": true, "Address1": "", "Address2": "", "Address3": "", "Address4":
        "", "City": "", "StateName": "", "StateAbbr": "  ", "PostalCode": "", "Country":
        "", "Phone": "", "Fax": "", "Url": "", "Notes": "", "CreatedDate": "2020-12-04T16:55:00Z",
        "ModifiedDate": "2020-12-04T16:55:00Z", "Code": "", "IndustryID": 0, "IndustryName":
        null, "ManagerUID": "00000000-0000-0000-0000-000000000000", "ManagerFullName":
        null, "Attributes": []}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '58'
      X-RateLimit-Reset:
      - Mon, 13 Jul 2026 16:31:29 GMT
      X-TDX-Entity:
      - '2'
      X-TDX-EntityName:
      - University of Illinois System
      X-TDX-Partition:
      - '26'
      X-TDX-TraceID:
      - '14561654933966895076'
      X-TDX-UID:
      - 3c3caa7d-c365-ed11-ade6-0050f2e6378b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://help.uillinois.edu/SBTDWebApi/api/66/tickets/priorities
  response:
    body:
      string: '[{"ID":19,"Name":"Low","Description":null,"Order":1.0,"IsActive":true,"IsDefault":false},{"ID":20,"Name":"Medium","Description":null,"Order":2.0,"IsActive":true,"IsDefault":true},{"ID":21,"Name":"High","Description":null,"Order":3.0,"IsActive":true,"IsDefault":false},{"ID":22,"Name":"Emergency","Description":null,"Order":4.0,"IsActive":true,"IsDefault":false},{"ID":23,"Name":"VIP","Description":"Used
        to flag people as VIPs on tickets","Order":5.0,"IsActive":true,"IsDefault":false},{"ID":24,"Name":"IT
        Pro","Description":"Used to flag people as IT Pros on tickets","Order":6.0,"IsActive":true,"IsDefault":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '58'
      X-RateLimit-Reset:
      - Mon, 13 Jul 2026 16:31:33 GMT
      X-TDX-Entity:
      - '2'
      X-TDX-EntityName:
      - University of Illinois System
      X-TDX-Partition:
      - '26'
      X-TDX-TraceID:
      - '4301021678778484532'
      X-TDX-UID:
      - 3c3caa7d-c365-ed11-ade6-0050f2e6378b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://help.uillinois.edu/SBTDWebApi/api/people/lookup?searchText=no_such_user&maxResults=1
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '75'
      X-RateLimit-Remaining:
      - '73'
      X-RateLimit-Reset:
      - Mon, 13 Jul 2026 16:30:43 GMT
      X-TDX-Entity:
      - '2'
      X-TDX-EntityName:
      - University of Illinois System
      X-TDX-Partition:
      - '26'
      X-TDX-TraceID:
      - '14714083500764476'
      X-TDX-UID:
      - 3c3caa7d-c365-ed11-ade6-0050f2e6378b
    status:
      code: 200
      message: OK
version: 1
